*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1.4px solid grey ;
}

header .Logo img{
width: 58px;
border-radius: 7px;
margin-left: 12px;
}

.Search-bar, input{
    display: flex;
position: relative;
width: 80%;
height: 30px;
border-radius: 20px;
margin-left: 9%;
top: 9px;

}

.Search-bar input{
    background-color: #e2dede;
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    color:#333;
}

.nav-button{
    display: none;
    cursor: pointer;
}

.nav-button button{
   height: 4px; 
}

.nav-button span{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: 0.3s ease-in-out;
}

.nav-links a{
    text-decoration: none;
    padding: 5px;
}

#SignUp{
    background-color: #183cdb; 
    color: #fff;  
    padding: 5px;
    border-radius: 12px;
    transition: 0.4s ease-in-out;
   }

#SignUp:hover{
  background-color: blue;  
}

.nav-links a:hover{
   color: goldenrod; 
   transform: scale3d();
}

.nav-links a{
    margin-right: 20px;
    /* color: #fff; */
    text-align: none;
    color: black;
    font-weight: 600;
}

.close-sidebar{
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    display: none;
}

.car-links{
    display: flex;

}

.car-links ul {
display: flex;
}

.car-links ul a{
    padding: 12px;
    color: rgb(78, 78, 78);
    text-align: center;
  
}


   

/* Text On Image */
.textOnImg{
   width: 100%;
   height: 520px;
}

.textOnImg img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    filter: brightness(40%);
    position: absolute;
}



.textOnImg .Text {
   font-size: 24px; 
   color: white;
   position: relative;
   top: 37%;
}

.textOnImg .Text #span{
    font-size: 18px;
    font-style: normal;
}

.product-logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    animation: slideInLeft 4s ease-in;
}

@keyframes slideInLeft{
  0%{
    transform: translateX(-200);
    opacity: 0;
  }  
  50%{
   transform: translateX(-50%); 
   opacity: 0.5;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
0%{
    transform: translateX(100%);
}

100%{
    transform: translateX(0);
}
}

.card{
    color: white;
    text-align: center;
    padding: 7px;
    height: 100px;
    border-radius: 10px;

}

.card img{
    padding: 20px;
border: 1px solid grey;
 width: 28%;
 height: 100px;   
 object-fit: cover;
}

.popular-container{
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding: 30px;
}

.popular-card{
    text-align: center;
    padding: 7px;
    height: 300px;
    max-width: 200px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid grey;
    animation: slide-in 4s ease-in;
}

.popular-card a {
text-decoration: none;
color: #000;
}

 .popular-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

 .popular-card a h5{
    padding: 10px;
}


  

/* 
Continuation */

section{
  height: 550px;  
  position: relative;
}

.CartImg{
    height: 90%;
}

.CartImg img{
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(50%);
}

.CartText{
    position: absolute;
    top: 29%;
    color: white;
    margin: 30px;
}

.CartText h1{
    font-size: 34px;
}

.CartText p{
    font-family: 'Times New Roman', Times, serif;
}

.CartText  button{
 margin-top: 48px;   
padding: 10px;
}

main{
    background-color: #bfbfbf;
    display: flex;
    justify-content:space-between;
    padding: 2%;
    max-width: 100%;
}

.Main-text{
  margin-left: 30px;  
  padding: 20px;
}

.podbutton{
    padding: 10px;
    width: 200px;
    font-weight: 700;
    color: white;
    background-color: #000;
    border: none;
    font-size: 12px;
}

.CEO{
    width: 170px;
    text-align: center;
    border: 1px solid #9f9f9f;
}

.CEO img{
  height: 100px;  
  border-radius: 100%;
  width: 90px;
  object-fit: cover;
}

button{
    cursor: pointer;
}

#paragraph1{
color: #333;
}

#paragraph2{
    color: #333;
}

.Shift-head{
    text-align: center;
}

footer{
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links ul a {
    text-align: center;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}


footer{
  display: flex;  
justify-content: space-between;
background-color: #070707;
font-family: 'Times New Roman', Times, serif;
padding: 24px;
}


.KLinks ul li a{
    color: #fff;
    text-decoration: none;
}
.KLinks ul li{
    padding: 10px;
    list-style: none;
}



footer .Kcartegories ul {
    list-style: none;  
  }
  

footer .Kcartegories ul li a{
color: #fff;
text-decoration: none;
}

.Kcartegories ul li{
    padding: 10px;
}

footer .Kcatalog ul{
    list-style: none;
    }
    

footer .Kcatalog ul li a{
    color: #fff;
    text-decoration: none;
}

.Kcatalog ul li{
    padding: 10px;
}


footer .KBuisness ul li a{
    color: #fff;
    text-decoration: none;
}

.KBuisness ul li{
    padding: 10px;
    list-style: none;
}

.social-link{
    border-top: 2px solid #333;
    display: flex;
    background-color: #070707;
    justify-content: space-between;
    color: #555555;
    padding: 12px;
}

.Links{
    display: flex;
}

.Links a i{
    cursor: pointer;
    color: white;
    margin-right: 4%;
    padding: 10px;
}


@media (max-width: 768px) {
   .nav-button{
    display: block;
   } 

   .nav-links{
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vh;
    width: 220px;
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    text-decoration: none;
   }


   .nav-links.show{
    display: flex;
   }

   .nav-button{
    display: block;
    text-decoration: none;
   }

        
   .close-sidebar{
    display: block;
    color: #000;
    text-align: right;
}

   .textOnImg img {
width: 100vw;
height: 540px;
   }

   .Text{
    top: 0px;
   }

.card img{
   border: none;
   width: 50%; 
}

.Fcard{
    border: none;
}

.popular-container{
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   gap: 20px;
   padding-bottom: 20px;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
}

.popular-card{
   min-width: 240px;
   flex: 0 0 auto;
   scroll-snap-align: center;
   background: white;
   padding: 20px;
   border-radius: 12px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   text-align: center;
   font-size: 1.2rem;
   transition: transform 0.3s ease-in;
}

.card:active{
    transform: scale(0.9s);
}



/* Continuation */
.Featured-container{
    flex-direction: column;
}

.Shift-head{
    text-align: left;
}


.Kcatalog{
    display: none;
}


footer{
    display: flex;
    justify-content: space-between;
}

main{
    flex-direction: column;
    position: relative;
   margin: 20px;
}

.CEO{
    margin-bottom: 60px;
margin-left: 19%;
}

.CEO img{
    width: 140px;
    height: 120px;
}


.podbutton{
    position: absolute;
    top: 90%;
}

}

@media (max-width: 1837px) {
    .Text{
        position: relative;  
        top: 70%;
         } 


    
}

/* Particle animation */

#heart-btn {
   position: relative; 
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

#heart-icon {
    font-size: 18px;
    margin-right: 4px;
    
}

.red {
    color: red;
}

.heart {
    position: absolute;
    font-size: 20px;
    z-index: 1000;
    opacity: 1;
    color: red;
}
